<h1>Portfolio</h1>
<%= link_to 'New Portfolio Item', new_portfolio_item_path  if logged_in?(:site_admin) %>
<%= render @portfolio_items %>
<!--
For more control we can specifiy the partial and the collection available
 <%= render partial: 'portfolio_item', collection: @portfolio_items %>
-->
